@import 'https://fonts.googleapis.com/css2?family=Caveat&family=Lobster&display=swap';


$background: linear-gradient(to right top, rgba(5, 25, 55), rgb(0, 77, 122), rgb(0, 135, 147), rgba(0, 163, 98));

$border: 3px solid rgb(254, 253, 207);
$borderImg: 3px solid white;

$colorList: bisque;
$colorLink: white;
$colorHover: rgb(255, 183, 0);
$colorTitle: rgb(199, 255, 250);
$colorText: rgb(204, 249, 255);
$colorBtn: rgb(255, 206, 131);

$familyList: 'Lobster',
cursive;