@charset "UTF-8";
@import 'https://fonts.googleapis.com/css2?family=Caveat&family=Lobster&display=swap';
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import 'https://fonts.googleapis.com/css2?family=Caveat&family=Lobster&display=swap';
body {
  background: linear-gradient(to right top, rgb(5, 25, 55), rgb(0, 77, 122), rgb(0, 135, 147), rgb(0, 163, 98));
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100%;
  margin: 0;
  padding: 0;
}

.header_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid rgb(254, 253, 207);
  height: 12vh;
}

.rectangle_list {
  list-style-type: none;
}

.rectangle_item {
  display: inline;
  padding: 3vw;
}

.list_link {
  color: bisque;
  text-transform: none;
  font-family: "Lobster", cursive;
  font-size: 2em;
}
.list_link:link {
  text-decoration: none;
  color: white;
}
.list_link:hover {
  text-decoration: underline;
  color: rgb(255, 183, 0);
  box-shadow: 2px 3px 2px #260086;
  top: 3px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section_home {
  display: flex;
  justify-content: center;
  border: 3px solid rgb(254, 253, 207);
  border-radius: 12px;
  width: 80%;
  margin: 2%;
}

.home_images {
  display: flex;
  justify-content: center;
  padding: 1vh;
}

.home_avatar {
  width: 65vh;
  border-radius: 30px;
  border: 3px solid white;
}

.home_desc {
  width: 65vw;
  display: grid;
  justify-content: center;
  padding: 1%;
}

.home_title {
  font-family: "Lobster", cursive;
  font-size: 3em;
  text-align: center;
  color: rgb(199, 255, 250);
  text-shadow: 4px 3px 4px black;
}

.home_text {
  font-family: "Lobster", cursive;
  font-size: 1.6em;
  text-align: center;
  color: rgb(204, 249, 255);
  text-shadow: 3px 2px 3px rgb(0, 0, 0);
}

.home_list {
  font-family: "Lobster", cursive;
  font-size: 1.3em;
  list-style: none;
}

.home_link {
  color: bisque;
  text-decoration: none;
  text-shadow: 3px 2px 3px rgb(0, 0, 0);
}
.home_link:link {
  text-decoration: none;
  color: white;
}
.home_link:hover {
  text-decoration: underline;
  color: rgb(255, 183, 0);
  text-shadow: 3px 2px 3px rgb(0, 0, 0);
}

.home_list li {
  padding: 1%;
}
.home_list li:before {
  padding-right: 8px;
  font-weight: bold;
  color: white;
  content: "✔";
  transition-duration: 0.3s;
}
.home_list li:hover:before {
  color: rgb(255, 183, 0);
  content: "✔";
  text-shadow: 3px 2px 3px rgb(0, 0, 0);
}

.section_photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid rgb(254, 253, 207);
  border-radius: 12px;
  width: 80%;
  margin: 2%;
}

.photo_title,
.contacts_title {
  font-family: "Lobster", cursive;
  font-size: 2em;
  text-align: center;
  color: rgb(199, 255, 250);
  text-shadow: 4px 3px 4px black;
}

.photo_img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_photo {
  width: 27vw;
  margin: 15px;
  border: 3px solid white;
  border-radius: 12px;
}

.photo_button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo_btn_prev,
.photo_btn_next {
  margin: 10%;
  border: none;
  color: rgb(255, 206, 131);
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  font-size: 5em;
  font-weight: 900;
  background: none;
  cursor: pointer;
}
.photo_btn_prev:hover,
.photo_btn_next:hover {
  border-radius: 10px;
  color: white;
  box-shadow: 0 5px 5px rgb(227, 255, 149), inset 0px 2px 0 rgb(113, 255, 210);
}
.photo_btn_prev:active,
.photo_btn_next:active {
  border-radius: 10px;
  color: rgb(255, 183, 0);
  box-shadow: 0 3px 4px rgb(0, 255, 149), inset 0 2px 0 rgb(0, 247, 255);
}

.section_contacts {
  display: flex;
  flex-direction: column;
  border: 3px solid rgb(254, 253, 207);
  border-radius: 12px;
  width: 80%;
  margin: 2%;
}

.contacts_social {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fa.fa-paper-plane,
.fa.fa-vk,
.fa.fa-pinterest {
  color: bisque;
  font-size: 3em;
  margin: 12px;
}
.fa.fa-paper-plane:hover,
.fa.fa-vk:hover,
.fa.fa-pinterest:hover {
  text-align: center;
  border-radius: 13px;
  color: white;
  box-shadow: 0 3px 0px rgb(227, 255, 149);
}
.fa.fa-paper-plane.fa-pinterest:active,
.fa.fa-vk.fa-pinterest:active,
.fa.fa-pinterest.fa-pinterest:active {
  color: rgba(255, 0, 0, 0.525);
}
.fa.fa-paper-plane.fa-vk:active,
.fa.fa-vk.fa-vk:active,
.fa.fa-pinterest.fa-vk:active {
  color: rgba(0, 0, 255, 0.634);
}
.fa.fa-paper-plane.fa-paper-plane:active,
.fa.fa-vk.fa-paper-plane:active,
.fa.fa-pinterest.fa-paper-plane:active {
  color: rgb(0, 174, 255);
}

.footer {
  display: flex;
  justify-content: flex-start;
  border-top: 3px solid rgb(254, 253, 207);
}

.footer_text {
  margin-left: 15px;
  font-size: 1.2em;
  color: rgb(204, 249, 255);
}

.footer_link {
  color: white;
}
.footer_link:link {
  text-decoration: underline;
  color: white;
}
.footer_link:hover {
  text-decoration: underline;
  color: rgb(255, 183, 0);
}

@media screen and (max-width: 360px) {
  body {
    background: linear-gradient(to right top, rgb(5, 25, 55), rgb(0, 77, 122), rgb(0, 135, 147), rgb(0, 163, 98));
    width: 100%;
  }
  .section_home {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid rgb(254, 253, 207);
    border-radius: 12px;
    margin: 2%;
  }
  .home_avatar {
    width: 73vw;
    height: 47vh;
    border-radius: 30px;
    border: 3px solid white;
  }
  .home_avatar:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  .home_title {
    font-family: "Lobster", cursive;
    font-size: 2.7em;
    text-align: center;
    color: rgb(199, 255, 250);
    text-shadow: 4px 3px 4px black;
  }
  .home_text {
    font-family: "Lobster", cursive;
    font-size: 1.7em;
    text-align: center;
    color: rgb(204, 249, 255);
    text-shadow: 3px 2px 3px rgb(0, 0, 0);
  }
  .photo_button {
    display: flex;
    flex-direction: column;
  }
  .img_photo {
    width: 73vw;
    height: 47vh;
    border: 3px solid white;
    border-radius: 12px;
  }
  .img_photo:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  .footer {
    display: flex;
    justify-content: center;
    border-top: 3px solid rgb(254, 253, 207);
  }
}
@media screen and (min-width: 361px) and (max-width: 499px) {
  body {
    background: linear-gradient(to right top, rgb(5, 25, 55), rgb(0, 77, 122), rgb(0, 135, 147), rgb(0, 163, 98));
    width: 100%;
  }
  .section_home {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid rgb(254, 253, 207);
    border-radius: 12px;
    margin: 2%;
  }
  .home_avatar {
    width: 73vw;
    height: 47vh;
    border-radius: 30px;
    border: 3px solid white;
  }
  .home_avatar:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  .home_title {
    font-family: "Lobster", cursive;
    font-size: 2.7em;
    text-align: center;
    color: rgb(199, 255, 250);
    text-shadow: 4px 3px 4px black;
  }
  .home_text {
    font-family: "Lobster", cursive;
    font-size: 1.7em;
    text-align: center;
    color: rgb(204, 249, 255);
    text-shadow: 3px 2px 3px rgb(0, 0, 0);
  }
  .photo_button {
    display: flex;
    flex-direction: column;
  }
  .img_photo {
    width: 73vw;
    height: 47vh;
    border: 3px solid white;
    border-radius: 12px;
  }
  .img_photo:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  .footer {
    display: flex;
    justify-content: center;
    border-top: 3px solid rgb(254, 253, 207);
  }
}/*# sourceMappingURL=styles.css.map */